#{extends 'main.html' /} #{set title:'Spacebook' /}

<nav class="ui blue inverted menu menu">
	<a class="ui active item" href="/home">Back to Home</a>
</nav>

<section class="ui raised segment">
	<h2 class="ui header">
		<div class="item">
			<img class="ui middle aligned avatar image left floated"
				src="/profile/getpicture/${user.id}"> ${user.firstName}
			${user.lastName}'s Profile (${user.nationality} nationality)
	</h2>
	<p>${user.firstName} is ${user.statusText}</p>
	
	<div class="ui two column grid segment">
		<div class="ui column">
			<div class="ui horizontal segment">
				<h2 class="ui header">
					<i class="ui mail icon"></i>Send ${user.firstName} message:
				</h2>
				<section class="ui form segment">
					<form action="/publicprofile/sendmessage/${user.id}" method="POST">
						<div class="field">
							<label>Subject:</label> <input placeholder="Subject here"
								type="text" name="subject">
						</div>
						<div class="field">
							<label>Message Text:</label> <input
								placeholder="Message Text here" type="text" name="messageText">
						</div>
						<button class="ui blue submit button">Send message</button>
						</section>
				</div>

			</form>
		
		</div>

		<div class="ui column">
			<div class="ui horizontal segment">
				<h2 class="ui header">
					<i class="ui comment icon"></i> Messages
				</h2>
				<div class="ui list">
					#{list items:user.inbox, as:'message'}
					<div class="item">
						<img class="ui middle aligned mini image left floated"
							src="/profile/getpicture/${message.from.id}">
					<p>${message.from.firstName} says...
						${message.messageText}</p>
						</div>
					#{/list}
				</div>
			</div>
		</div>
	</div>
</section>
