#{extends 'main.html' /} #{set title:'Home' /}

<nav class="ui blue inverted menu">
	<a class="ui active item" href="/home">Home</a> <a class="ui item"
		href="/members">Members</a> <a class="ui item" href="/profile">Profile</a>
	<a class="ui item" href="/leaderboard">Leaderboard</a> <a
		class="ui item" href="/logout">Logout</a>
</nav>

<section class="ui segment">
	<h2 class="ui header">
		<i class="ui home icon"></i> SpaceBook: Home page for
		${user.firstName} ${user.lastName}
	</h2>
	<h4>${user.firstName} is ${user.age} years old and of
		${user.nationality} nationality</h4>
	<div>
		<a href="/accounts/edit/${user.id}"> Edit my details</a>
	</div>

	<div class="ui two column grid segment">

		<div class="ui column">
			<div class="ui horizontal segment">
				<h2 class="ui header">
					<i class="ui user icon"></i>Friends (${user.friendships.size()})
				</h2>
				<div class="ui list">
					#{list items:user.friendships, as:'friendship'}
					<div class="item">
						<img class="ui middle aligned avatar image left floated"
							src="/profile/getpicture/${friendship.targetUser.id}">
						<div class="content">
							<a href="/publicprofile/${friendship.targetUser.id}">
								${friendship.targetUser.firstName}
								${friendship.targetUser.lastName}</a> <a class="mini ui button"
								href="/home/drop/${friendship.targetUser.id}"> Drop </a>
						</div>
					</div>

					#{/list}
				</div>
			</div>
		</div>

		<div class="ui column">
			<div class="ui horizontal segment">
				<h2 class="ui header">
					<i class="ui comment icon"></i> Messages
				</h2>
				<div class="ui list">
					<div class="ui two column grid segment">
						#{list items:user.inbox, as:'message'}
						<div class="ui column">
							<div class="ui right floated left aligned horizontal segment">
								<img class="ui left aligned avatar image"
									src="/profile/getpicture/${message.from.id}"> <a
									href="/publicprofile/${message.from.id}">
									<p>${message.from.firstName}
								</a>
							</div>
						</div>
						<div class="ui column">
							<div class="ui left floated horizontal segment">
								<p>says... ${message.messageText} </p>
							</div>
						</div>
						#{/list}
					</div>
				</div>
				<a class="tiny ui button" href="home/byDate">BY DATE</a> <a
					class="tiny ui button" href="home/byUser">BY USER </a> <a
					class="tiny ui button" href="/home/conversation">BY
					CONVERSATION </a>
			</div>
		</div>
	</div>
</section>